<!DOCTYPE html>
<html lang="en">
<head><% include head.ejs %></head>


<body id="page-top" class="index">

    <!-- Navigation & Header -->
    <% include header.ejs %>

    <!-- Intro Section -->
    <section id="services"><% include intro.ejs %></section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray"><% include portfolio.ejs %></section>

    <!-- About Section -->
    <section id="about"><% include about.ejs %></section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray"><% include objective.ejs %></section>

    <!-- Contact Form -->
    <section class="content bgcolor-1" id='contact'><% include contact.ejs %></section>
    
    <footer><% include footer.ejs %></footer>
    <!-- Portfolio Modal -->
    <% include modal.ejs %>
    <!-- Default Javascript -->
    <% include js.ejs %>
    <script type="text/javascript">
      $("document").ready(function() {
        getData();
      });
      
      function getData() {
        // use the get() shorthand method to request a resource
        $.get("testdata.txt", successFn);
        
        // the load() shorthand method performs the common task of 
        // retrieving HTML content and inserts the returned 
        // content into the specified element. 
        //$("#content").load("testdata.html");
          
        // you can also specify a portion of the content to load
        //$("#content").load("testdata.html #p2");
      }

      function successFn(result) {
        console.log(result);
      }
      function errorFn(xhr, status, strErr) {
        alert(strErr);
      }
  </script>
</body>

</html>
