<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Must-see NYC</h2>
                        <p class="item-intro text-muted">Website</p>
                        <img class="img-responsive" src="img/portfolio/mustsee-preview.png" alt="">
                        <p> I built it for my personal interest and it is my first web application using Node.js. I worked entirely with JavaScript from the back-end to front-end. Given more time in the future. I would like to add more information about NYC. or just regard it as a personal blog.</p>
                        <p>You can view it <a href="http://haozheng.herokuapp.com">here</a></p>
                        <ul class="list-inline">
                            <li>Date: Dec 2014</li>
                            <li>My Role: Full-stack Engineer</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>On the Road</h2>
                        <p class="item-intro text-muted">iOS App Project</p>
                        <img class="img-responsive img-centered" src="img/portfolio/ontheroad-preview.png" alt="">
                        <p>On the road is a academic project. It is a iOS App for travelers who want to record their journeys.</p>
                        <p>You can view the project in <a href="https://github.com/zhenghao58/On-the-road">Github</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Interval Web App</h2>
                        <p class="item-intro text-muted">Web Application</p>
                        <img class="img-responsive img-centered" src="img/portfolio/chart-preview.png" alt="">
                        <p>This is a system to collect data that is generated on an interval (once a minute/hour/day/etc). Store in a database; record time and data value. Then I made this web app to display the data through a graph and table.</p>
                        <p>You can view it <a href="https://hichart.herokuapp.com">here</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Love Note</h2>
                        <p class="item-intro text-muted">iOS App</p>
                        <img class="img-responsive img-centered" src="img/portfolio/lovenote-preview.png" alt="">
                        <p>"Love Note" is designed to meet the needs of couples. It is the app that's not only for couples to record their life and experiences, but also for couples around the world to share their feelings in a forum-like community.</p>
                        <p>You can download the it at <a href="https://itunes.apple.com/us/app/lian-ai-bi-ji-qing-lu-zhuan/id590246583?mt=8">Apple App Store</a>.</p>
                        <ul class="list-inline">
                            <li>Date: Oct 2013-Jun 2014</li>
                            <li>My Role: UI Designer</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>