<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Objectives</h2>
            <h3 class="section-subheading text-muted">Stay hungry. Stay foolish.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="team-member">
                <img src="img/team/1.png" class="img-responsive img-circle" alt="">
                <h4>Software Engineer</h4>
                <p class="text-muted">Python &amp; Java</p>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-member">
                <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                <h4>Full-stack Engineer</h4>
                <p class="text-muted">Node.js &amp; MongoDB</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-member">
                <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                <h4>Web Developer</h4>
                <p class="text-muted">Front-end</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted">I'm currrently learning Node.js framework and MongoDB database. As MEAN stack becoming maturer, building a web application from back-end to front-end is consistent as never before. My goal is to be a full-stack engineer.</p>
        </div>
    </div>
</div>